<!-- <p>home works!</p> -->
<div class="container">
    <div class="row mt-5">
      <div class="col text-center">
        <h1 class="display-4">Welcome to the Hospital Management System</h1>
        <p class="lead">We respect and treat everyone equally.</p>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Admin</h5>
            <p class="card-text">Manage doctors, patients, and other administrative tasks.</p>
            <!-- <a routerLink="" class="btn btn-primary">Go to Admin</a> -->
            <a href="http://localhost:4200/admin" class="btn btn-primary">Go to Admin</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Doctor</h5>
            <p class="card-text">View your profile, schedule, and patient records.</p>
            <!-- <a routerLink="/doctor" class="btn btn-primary">Go to Doctor</a> -->
            <a href="http://localhost:4200/doctor" class="btn btn-primary">Go to Doctor</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Patient</h5>
            <p class="card-text">View your profile, appointments, and bills.</p>
            <!-- <a routerLink="/patient" class="btn btn-primary">Go to Patient</a> -->
            <a href="http://localhost:4200/patient" class="btn btn-primary">Go to Patient</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-4 ">
      <div class="col-md-4 mb-4 offset-md-2">
        <div class="card shadow-sm h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Appointments</h5>
            <p class="card-text">Schedule and manage your appointments.</p>
            <!-- <a routerLink="/appointment" class="btn btn-primary">Go to Appointments</a> -->
            <a href="http://localhost:4200/appointment" class="btn btn-primary">Go to Appointment</a>
          </div>
        </div>
      </div>
  
      
    </div>
  </div>
  