<div *ngIf="doctor">
  <h2>Doctor Details</h2>
  <p><strong>Name:</strong> {{ doctor.firstName }} {{ doctor.lastName }}</p>
  <p><strong>Email:</strong> {{ doctor.email }}</p>
  <p><strong>Designation:</strong> {{ doctor.designation }}</p>
  <p><strong>Phone Number:</strong> {{ doctor.phoneNumber }}</p>
  <p><strong>Specialty:</strong> {{ doctor.specialty }}</p>
  <p><strong>Experience:</strong> {{ doctor.experience }} years</p>
  <p><strong>Qualification:</strong> {{ doctor.qualification }}</p>
</div>

<div *ngIf="appointments.length > 0">
  <h2>Appointments</h2>
  <ul>
    <li *ngFor="let appointment of appointments">
      Appointment ID: {{ appointment.appointmentId }}, Date:
      {{ appointment.date }}, Patient: {{ appointment.patientName }}
    </li>
  </ul>
</div>
